In [3]:
import pandas as pd
import numpy as np
import matplotlib as mplot

In [4]:
import sklearn

In [5]:
df = pd.read_csv('/Users/vdeolali/Downloads/WindowsShare/Dataset/spearn.csv')

In [6]:
df.head()

,Year,Earnings Yield,Dividend Yield,S&P 500,Earnings,Dividends,Payout Ratio
0,1960,5.34%,3.41%,58.11,3.10,1.98,63.86%
1,1961,4.71%,2.85%,71.55,3.37,2.04,60.51%
2,1962,5.81%,3.40%,63.10,3.67,2.15,58.52%
3,1963,5.51%,3.13%,75.02,4.13,2.35,56.81%
4,1964,5.62%,3.05%,84.75,4.76,2.58,54.27%